<%- include('../components/partials/header') %>

<%- include('../components/navbar/navbar', {cazador:true}) %>
<%- include('../components/leftbar/leftbar', {selected: 'altas', cazador: false}) %>

<!-- main content -->

<div class="form-container">

    <form class="form-alta" action="">

        <div class="wrapper-input">
            <label for="nombre">Nombre</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="apellido">Apellidos</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="profesion">Profesión</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="campo">Campo</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="lugar">lugar</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="costo">Costo hora/persona</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="capacidades">Capacidades de la persona</label>
            <textarea rows="5" type="text"></textarea>
        </div>

        <div class="wrapper-input">
            <label for="disponibilidad">Disponibilidad de horario</label>
            <textarea rows="5" type="text"></textarea>
        </div>

        <div class="button-container">
            <button type="submit">Dar de alta</button>
        </div>

    </form>
</div>

<%- include('../components/partials/footer') %>
