<!-- Lateral nav -->

<div class="lateral-nav">
    <a href="altaCazador.html">
        <div class="selected lateral-nav-item">Altas</div>
    </a>

    <a href="">
        <div class="lateral-nav-item">Bajas</div>
    </a>

    <a href="">
        <div class="lateral-nav-item">Cambios</div>
    </a>

    <a href="">
        <div class="lateral-nav-item">Consultas</div>
    </a>

    <a href="">
        <div class="lateral-nav-item">Crear proyecto</div>
    </a>
</div>