<%- include('./partials/header') %>

<div class="container-principal">
    <h1 class="bien-text">Bienvenido Usuario</h1>
    <div class="container-boxes">
        <a href="cazador">
            <div class="main-boxes">Cazador</div>
        </a>
        <a href="proveedor">
            <div class="main-boxes">Proveedor</div>
        </a>
    </div>
</div>

<%- include('./partials/footer') %>