<%- include('../partials/header') %>

<%- include('../components/navbar', {cazador:false}) %>

<!-- Nav boxes -->

<div class="container-principal">
    <div class="selection-boxes-container">
        <a href="proveedor/altas">
            <div class="selection-boxes">Dar de alta proveedor</div>
        </a>
        <a href="proveedor/bajas">
            <div class="selection-boxes">Eliminar proveedor</div>
        </a>
        <a href="proveedor.html">
            <div class="selection-boxes">Modificar un proveedor</div>
        </a>
        <a href="proveedor.html">
            <div class="selection-boxes">Consultar proveedores</div>
        </a>
    </div>
</div>

<!-- End of nav boxes -->

<%- include('../partials/footer') %>