<%- include('../components/partials/header') %>

<%- include('../components/navbar/navbar', {cazador:true}) %>
<%- include('../components/leftbar/leftbar', {selected: 'bajas', cazador: true}) %>
<!-- main content -->

<div class="search-container">
    <input placeholder="Buscar..." type="text">
    <img src="../../assets/search.png" alt="">
</div>

<%- include('../components/partials/footer') %>