<%- include('../components/partials/header') %>

<%- include('../components/navbar/navbar', {cazador: true}) %>
<%- include('../components/leftbar/leftbar', {selected: 'altas'}) %>

<!-- main content -->

<div class="form-container">

    <form class="form-alta" action="">

        <div class="wrapper-input">
            <label for="nombre">Nombre</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="apellido">Apellidos</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="areas">Áreas</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="proyectos">Proyectos realizados</label>
            <input type="text" />
        </div>

        <div class="wrapper-input">
            <label for="proyecto">Proyectos realizados</label>
            <textarea rows="5" type="text"></textarea>
        </div>

        

        <div class="button-container">
            <button type="submit">Dar de alta</button>
        </div>

    </form>
</div>

<%- include('../components/partials/footer') %>