<%- include('../partials/header') %>

<%- include('../components/navbar') %>
<%- include('../components/leftbar') %>

<!-- main content -->

<div class="search-container">
    <input placeholder="Buscar..." type="text">
    <img src="../../assets/search.png" alt="">
</div>

<%- include('../partials/footer') %>
