<%- include('../components/partials/header') %>

<%- include('../components/navbar/navbar', {cazador:true}) %>

<div class="container-principal">
    <div class="selection-boxes-container">
        <a href="cazador/altas">
            <div class="selection-boxes">Dar de alta cazador</div>
        </a>
        <a href="cazador/bajas">
            <div class="selection-boxes">Eliminar cazador</div>
        </a>
        <a href="proveedor/proveedor.html">
            <div class="selection-boxes">Modificar un cazador</div>
        </a>
        <a href="proveedor/proveedor.html">
            <div class="selection-boxes">Consultar cazadores</div>
        </a>
    </div>
</div>

<%- include('../components/partials/footer') %>
        