<%- include('../partials/header') %>

<%- include('../components/navbar') %>

<div class="container-principal">
    <div class="selection-boxes-container">
        <a href="cazador/altaCazador">
            <div class="selection-boxes">Dar de alta cazador</div>
        </a>
        <a href="bajasCazador.html">
            <div class="selection-boxes">Eliminar cazador</div>
        </a>
        <a href="proveedor/proveedor.html">
            <div class="selection-boxes">Modificar un cazador</div>
        </a>
        <a href="proveedor/proveedor.html">
            <div class="selection-boxes">Consultar cazadores</div>
        </a>
    </div>
</div>

<%- include('../partials/footer') %>
        