<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/cazador.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap"
			rel="stylesheet"
		/>
		<title>Alta cazador</title>
	</head>

	<body>
		<!-- Navbar -->

		<nav>
			<ul>
				<div class="first-element">
					<a class="item-nav" href="../index.html">
						<li>
							<img class="home-icon" src="../../assets/home.png" />
						</li>
					</a>
				</div>
				<div class="second-item">
					<a class="selected item-nav" href="cazador.html">
						<li>Cazador</li>
					</a>
					<a class="item-nav" href="../proveedor/proveedor.html">
						<li>Proveedor</li>
					</a>
				</div>
			</ul>
		</nav>

		<!-- End of Navbar -->

		<!-- Lateral nav -->

		<div class="lateral-nav">
			<a href="altaCazador.html">
				<div class="lateral-nav-item">Altas</div>
			</a>

			<a href="">
				<div class="selected lateral-nav-item">Bajas</div>
			</a>

			<a href="">
				<div class="lateral-nav-item">Cambios</div>
			</a>

			<a href="">
				<div class="lateral-nav-item">Consultas</div>
			</a>

			<a href="">
				<div class="lateral-nav-item">Crear proyecto</div>
			</a>
		</div>

		<!-- End of lateral nav -->

		<!-- main content -->

		<div class="search-container">
            <input placeholder="Buscar..." type="text">
            <img src="../../assets/search.png" alt="">
        </div>

	</body>
</html>
